@font-face {
  src: url("~@/assets/fonts/Mulish/Mulish-Bold.ttf");
  font-family: "Mulish-Bold";
}

@font-face {
  src: url("~@/assets/fonts/Mulish/Mulish-Light.ttf");
  font-family: "Mulish-Light";
}

@font-face {
  src: url("~@/assets/fonts/Mulish/Mulish-Medium.ttf");
  font-family: "Mulish-Medium";
}

@font-face {
  src: url("~@/assets/fonts/Mulish/Mulish-Regular.ttf");
  font-family: "Mulish-Regular";
}

@font-face {
  src: url("~@/assets/fonts/Mulish/Mulish-SemiBold.ttf");
  font-family: "Mulish-SemiBold";
}

// Font Monserrat

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Bold.otf");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Light.otf");
  font-family: "Montserrat-Light";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-Medium.otf");
  font-family: "Montserrat-Medium";
}

@font-face {
  src: url("~@/assets/fonts/Monserrat/Montserrat-SemiBold.otf");
  font-family: "Montserrat-SemiBold";
}
