.header {
  padding: 19px 13px 0;

  @media screen and (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px;
    margin: 32px auto 60px auto;
  }
}
