.search {
  width: 100%;
  height: 55px;
  margin: 37px 0;
  border-radius: 16px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 53px;
    height: 100%;
    width: 100%;
    border-left: 1px solid #f2f2f2;
    color: #eb5757;
    cursor: pointer;
    &--text {
      font-family: "Mulish-Bold";
      font-size: 14px;
      color: #f2f2f2;
      margin: 0 0 0 10px;
    }
    &.search-mode {
      display: none;
    }
  }
  //Dessapear for modal
  &__modal--title {
    display: none;
  }
  &__result {
    display: none;
    &.is-active {
      display: flex;
    }
  }
  //Search modal mode
  &.is-active {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 85px);
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 18px 15px;
    max-width: unset;
    border-radius: 0;
    animation: fade 0.5s;
    animation-timing-function: ease-in;
    .search__modal--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 16px 0;
      h4 {
        font-size: 14px;
        font-family: "Mulish-Bold";
      }
      button {
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
        color: #333333;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 13px;
        height: 13px;
        svg {
          font-size: 18px;
        }
      }
    }
    .search__form {
      height: auto;
      flex-direction: column;
      border-radius: 16px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      margin: 0 0 35px 0;
    }
    .search__button {
      display: none;
      &.search-mode {
        display: flex;
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
        max-width: 130px;
        height: 48px;
        margin: 0 auto;
        background: rgba(235, 87, 87, 0.9);
        color: #f2f2f2;
        border-radius: 16px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    width: 35%;
    margin: 0;
    &__result {
      &.is-active {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 950px;
        margin: 0 auto;
      }
      //Search guest
      &.is-search-guest {
        justify-content: flex-end;
        .result-guest {
          margin: 35px 220px 0 0;
        }
      }
    }
    //Search modal mode
    &.is-active {
      height: 460px;
      padding: 30px 15px;
      .search__modal--title {
        max-width: 950px;
        width: 100%;
        margin: 0 auto 56px;
      }
      .search__form {
        flex-direction: row;
        max-width: 950px;
        margin: 0 auto;
        width: 100%;
      }
      .search__button {
        &.search-mode {
          margin: 0 0 0 90px;
          position: unset;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 300px;
    &__result {
      &.is-active {
        max-width: 1248px;
      }
    }

    //Search modal mode
    &.is-active {
      .search__modal--title {
        max-width: 1248px;
      }
      .search__form {
        max-width: 1248px;
      }
    }
  }
}
